<phpunit backupGlobals="false"
	backupStaticAttributes="false"
	bootstrap="bootstrap.php"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	processIsolation="false"
	stopOnFailure="false"
	syntaxCheck="false">
	<testsuites>
		<testsuite name="Dieg0v console noutils test suite">
			<directory>unit</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist>
			<directory suffix=".php">unit</directory>
		</whitelist>
	</filter>
</phpunit>